@import './../../../theme/variables';
@import './../../../theme/mixins';


@include slideAnimation;
@include fadeAnimation;

.MenuMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 1.4rem;
  z-index: 1000;
  background-color: $white;
  animation-duration: 0.5s;
  animation-fill-mode: both;

  &.fadeIn {
    animation-name: fade-in;
    animation-name: slide-in;
    

  }

  &.fadeOut {
    animation-name: fade-out;
    animation-name: slide-out;
  }
 

  @include respond-to(md) {
    visibility: hidden;
    display: none;
  }

  .linksContainer {
    @include flex-evenly;
    margin: 0px auto;
    /* Add any other styles for the links container */
  }

  .linkWrapper {
    flex: 1;
    /* Add any other styles for the link wrapper */
  }

  .link {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add any other styles for the link */
  } 
}




