// import variables.scss
@import './../../../theme/variables';
@import './../../../theme/mixins';
@import './../../../theme/pallete';

.card {
  /* Agrega estilos aquí */
  height: 100%;
  max-height: 100%;
  min-width: 0;
  width: 100%;
  max-width: 100%;
  border-radius: $borderRadius;
  aspect-ratio: 240 / 330;
  overflow: hidden;


  .container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
  }

  .content {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100%;
  }


  
  .header, .footer {
    min-height: 4.8rem;
    max-height: 4.8rem;
    @include flex-between;
    @include padding-x(1.6rem);
    background-color: rgba(0, 0, 0, 0.3);
  } 
  
  .headerLeft {
    @include flex-center;
    gap: 1rem;
  }
  .headerInfo {
    display: flex;
    @include flex-column-between;
  }
  
  .body {
    flex-grow: 1;
  }
  
  
  .bodyContainer {
    flex: 1;
  }

  .footer {
    margin-top: auto;
  }
 
  .footerLeft, .footerRight {
    @include flex-between;
    flex-grow: 1; 
  }
}




