.text {
    /* Estilos para text */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: #000000;
  }
  
  .h1 {
    font-size: 2.6rem;

  }
  
  .h2 {
    /* Estilos para h2 */
    font-size: 2.2rem;
  }
  
  .h3 {
    /* Estilos para h3 */
    font-size: 2rem;
  }
  
  .h4 {
    /* Estilos para h4 */
    font-size: 1.8rem;
  }
  
  .h5 {
    /* Estilos para h5 */
    font-size: 1.6rem;
  }
  
  .p {
    /* Estilos para p */
    font-size: 1.4rem;
  }

  .span {
    /* Estilos para span */
    font-size: 1.4rem;
  }
  
  .bold {
    /* Estilos para bold */
    font-weight: bold;
  }
  
  .italic {
    /* Estilos para italic */
    font-style: italic;
  }