
@import './pallete';

$color-map: (
  primary: $primaryColor,
  secondary: $secondaryColor,
  danger: $dangerColor,
  warning: $warningColor,
  success: $successColor,
  info: $infoColor,
  light: $gray5,
  dark: $darkColor
);

// General Variables
// Borders
$borderRadius: 0.5rem;
// bourder radious in em units 
$roundedBorderRadius: 100%;

// Create variables scss for the component Container
$containerWidth: 100%;
$containerHeight: 100vh;
$containerMaxWidth: 1200px;
$containerMargin: 0 auto;
$containerPadding: 0;
$containerBackgroundColor: $lightColor;
$containerBorder: 0.1rem solid $gray4;
$containerBorderRadius: $borderRadius;
$containerBoxShadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// Button variables
$buttonBorderRadius: $borderRadius;
$buttonPaddingVertical: 0.6rem;
$buttonPaddingHorizontal: 1.6rem;
$buttonHeight: 4.8rem;
$buttonMinWidth: 4.8rem;
$buttonBackgroundColor: $primaryColor;
$buttonBorderWidth: 0.1rem;
$buttonBorderColor: $primaryColor;


$buttonDisabledOpacity: 0.5;

$buttonSolidBackgroundColor: $primaryColor;
$buttonSolidDisabledBackgroundColor: $primaryColor;

$linearGradientButtonDarken: 7%;

// Button Outline variables
$buttonOutlineBorderColor: $primaryColor;
$buttonOutlineBorderWidth: 0.1rem;
$buttonOutlineDisabledBorderColor: $primaryColor;

// Button Icon variables
$buttonIconSize: 1.6rem;
$buttonIconColor: $whiteColor;
$buttonIconDisabledColor: $whiteColor;

// Button Title variables
$buttonTitleFontSize: inherit;
$buttonTitleFontWeight: normal;
$buttonTitleColor: $whiteColor;
$buttonTitleDisabledColor: $lightColor;
$buttonTitleClearColor: inherit;

$buttonTitleLineHeight: 1.5;

// Input variables


$inputWidth: 100%;
$inputHeight: 2.8rem;
$inputPadding: 0 1.6rem; // Assuming 16px is equivalent to 1rem
$inputBorderRadius: 0.4rem;
$inputBorderColor: $gray4; // Assuming $inputBorderColor is defined in the palette
$inputBackgroundColor: $gray1; // Assuming $inputBackgroundColor is defined in the palette
$inputTextColor: $black; // Assuming $inputTextColor is defined in the palette
$inputFontSize: 1.6rem;
$inputFontFamily: "Roboto", sans-serif; // Example font family
$inputTransitionDuration: 0.3s; // Example transition duration
$inputTransitionTimingFunction: ease-in-out; 
$inputPlaceholderTextColor: $gray5; 
$inputDisabledOpacity: 0.5;
$inputFocusedBorderColor: $primary; 
$inputErrorBorderColor: $danger; 
$inputErrorPlaceholderTextColor: $danger;

// Skeleton variables

$skeletonBackgroundColor: $gray2;
$skeletonColor: lightgray;
$skeletonAnimationDuration: 0.8s;

$skeletonBaseWidth: 10rem;
$skeletonBaseHeight: 2rem;
$skeletonBaseBorderRadius: $borderRadius;


