.container {
  position: relative;
  display: inline-block;
}

.backgroundContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
